body {
  background-image: url("../img/giphy.gif");
  font-size: 1.1rem;
  background-size: 100%;
  background-color: white;
  font-family: "Inconsolata", monospace;
  color: white;
}

* {
  margin: 0px auto;
  padding: 0px auto;
}

.button {
  background: url("../img/button.png") no-repeat;
  background-size: cover;
  background-color: rgb(2, 141, 2);
  width: 30px;
  padding: 0;
  margin: 0;
  height: 100%;
  border: 2px solid rgba(105, 77, 77, 0);
  color: rgba(255, 255, 255, 0);
}

form {
  margin-top: 4rem;
  max-width: 670px;
  display: block;
}
.hideme {
  margin-top: 20%;
}
#Tophalf {
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 50%;
}
.Bottomhalf {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 700px;
  border-radius: 10px;

}
p {
  padding: 0.1rem;
  text-align: center;
}

input.Userinput,
submit {
  background-color: rgba(143, 143, 143, 0.75);
  border: dotted solid #bebebe;
}

::-webkit-input-placeholder-text {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

h1,
h2 {
  text-align: center;
}
